.main-menu {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      list-style: none;
      font-size: 1rem;
      > a {
        display: inline-block;
        font-weight: normal;
        text-decoration: none;
        text-transform: uppercase;
        color: $menu-color;
        transition: color .2s ease-in-out;
        line-height: 3em;
        padding: 0 1.25em;
        &:hover {
          color: $menu-hover-color;
          background-color: $menu-hover-bg-color;
        }
      }
      &.active {
        > a {
          font-weight: bold;
          text-decoration: none;
          transition: all 225ms ease-in 0s;
          &:hover {
            text-decoration: none;

          }
        }
      }
    }
  }
}
