---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="img">
    <img src="/images/logo/logo.svg">
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-2">
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_services | default: 3 %}
      {% for service in site.services limit: limit %}
      <div class="col-12 col-md-4 mb-1">
        <div class="family">
          <div class="family-plate">
            <a href="{{ service.url | relative_url }}">
              <div class="family-img">
                <img src="{{ service.image }}">
              </div>
              <h2 class="family-title">{{ service.title }}</h2>
            </a>
            <p>{{ service.description | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <h2 class="text-center pb-2">Новые поступления</h2>
    <div class="row justify-content-start">
      {% assign products = site.products | order : "date" %}
      {% for product in products limit: 2 %}
      <div class="col-12 col-md-6 mb-1">
        <div class="product">
          <a href="{{ products.buy_url | relative_url }}">
            <div class="product-plate">
              <div class="product-img">
                <img src="{{ product.image }}">
              </div>
              <h2 class="product-title">
                {{ product.title }}
              </h2>
              <p class="product-price">{{ product.price }}</p>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

