---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="img logo">
    <img src="/images/logo/logo_with_text.svg">
  </div>
</div>

<div class="strip">
  <div class="container mt-2 pb-2">
    <div class="row justify-content-start">
      {% for category in site.categories limit: 3 %}
      <div class="col-12 col-md-4 mb-1">
        <div class="category">
          <div class="category-plate">
            <a href="{{ category.url | relative_url }}">
              <div class="category-img">
                <img src="{{ category.image }}">
              </div>
              <h2 class="category-title">{{ category.title }}</h2>
            </a>
            <p>{{ category.description | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="strip">
  <div class="container mt-2 pb-6 pb-md-10">
    <h2 class="text-center pb-2">Новые поступления</h2>
    <div class="row justify-content-start">
      {% assign products = site.products | order : "date" %}
      {% for product in products limit: 2 %}
      <div class="col-12 col-md-6 mb-1">
        <div class="product">
          <a href="{{ products.buy_url | relative_url }}">
            <div class="product-plate">
              <div class="product-img">
                <img src="{{ product.image }}">
              </div>
              <h2 class="product-title">
                {{ product.title }}
              </h2>
              <p class="product-price">{{ product.price }}</p>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

