---
layout: default
bodyClass: "page-service"
---

<div class="container pt-6 mb-6 product">
    <div class="row justify-content-start mb-2">
        <div class="col-12 col-md-7 mb-1 product-img">
            <img src="{{ page.image | relative_url }}">
        </div>
        <div class="col-12 col-md-5 mb-1">
            <h1>{{ page.title }}</h1>
            <p class="product-price">{{ page.price }}</p>
            <p>{{ page.description }}</p>
            <a href="{{ product.buy_url | relative_url }}">
                <div class="button">Купить</div>
            </a>
        </div>
    </div>


</div>

