---
layout: default
bodyClass: "page-basic"
---

<div class="container pt-6 pt-md-6">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                <div class="content">{{content}}</div>
            </div>
        </div>
    </div>
</div>

<div class="strip">
    <div class="container pt-4 pb-6 pb-md-10">
        <div class="row justify-content-start">
            {% assign products = site.products | where:"type","t-shirt" %}
            {% for product in products %}
            <div class="col-12 col-md-4 mb-1">
                <div class="product">
                    <a href="{{ products.buy_url | relative_url }}">
                        <div class="product-plate">
                            <div class="product-img">
                                <img src="{{ product.image }}">
                            </div>
                            <h2 class="product-title">
                                {{ product.title }}
                            </h2>
                            <p class="product-price">{{ product.price }}</p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
